h1 {
    font-family: Verdana, serif;
    text-align: center;
    font-size: xxx-large;
}

h2 {
    font-family: Verdana, serif;
    text-align: center;
    font-size: xx-large;
}

h3 {
    font-family: Verdana, serif;
    text-align: left;
    font-size: medium;
}

body {
    background-color: gray;
    font-family: Verdana, serif;
    text-align: center;
    font-size: large;
}
dl {
    font-size: xx-large;
}

dd{
    font-size: large;
}